@import "../../node_modules/bootstrap/scss/functions";
@import "helpers/variables";
@import "helpers/grid";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Custom
@import "components/navpanel";

body{
	font-family: "Segoe UI","Microsoft JhengHei",sans-serif;
}
.bg-cover{
	background-size: cover;
	background-position: center center;
}
.boxShadow{
	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.header{
	background-image: url(../images/the-urban-landscape-1698285.png);
	height: 500px;
	position: relative;	
	@include pad{
		height: 350px;
	}
}
.selectDist{
/*移除箭頭樣式*/
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
/*改變右邊箭頭樣式*/
	background: url("../images/icons_down.png") 97% 50% no-repeat rgba(255,255,255,0.7);
	border: 3px solid #fff;
	color: #000;
}
/*IE隱藏箭頭樣式*/
.selectDist::-ms-expand { 
	display: none; 
  }
.selectDist:focus{
	background: url("../images/icons_down.png") 97% 50% no-repeat rgba(255,255,255,0.7);
}
.hot-dist{
	position: absolute;
	bottom: -80px;
	@include phone{
		bottom: -170px;
	}
}
.btn{
	width: 130px;
	height: 45px;
	line-height: 45px;
	padding: 0;
	@include phone{
		display: block;
		width: 82%;
	}
}
.main{
	padding-top: 135px;
	@include phone{
		padding-top: 200px;
	}
}
.borderDash{
	width: 90%;
	margin: 0 auto;
	border-bottom: 1.5px dashed #559AC8;
}
.ticketInfo{
	margin-left: 11.25em;
	@include pad{
		margin-left: 3.2em;
	}
	@include phone{
		margin-left: 4.4em;
	}
	@include iphone5{
		margin-left: 1.5em;
	}
}
.spotInfo li{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.card-title{
	@include phone{
		line-height: 3rem;
	}
}